.projects {
    max-width: 700px;
    margin: 0 auto 80px auto;
    padding: 0 20px 0 20px;
}

.projects-list {
    list-style: none;
    padding: 0;
}

.projects-list li {
    margin-bottom: 22px;
    font-size: 1.05rem;
    color: #36455a;
    line-height: 1.68;
}

.projects-list a {
    color: #2563eb;
    text-decoration: underline dotted;
    transition: color 0.13s;
}

.projects-list a:hover {
    color: #101f54;
}