.skills {
    max-width: 700px;
    padding: 0 20px 0 20px;
    margin: 0 auto 80px auto;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px 21px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-list li {
    font-size: 1.07rem;
    color: #425169;
    background: #e0e7ef;
    border-radius: 11px;
    padding: 6px 18px;
    font-weight: 500;
}